@import "bootstrap.less";

#markdown {
    img[src*="opossum-readme.png"] {
        margin-top: -50px;
    }

    img[src*="screen1.png"] {
        .img-thumbnail;
    }
}

.footer {
    margin-bottom: 20px;

    .buttons {
        overflow: hidden;

        li {
            margin: 0;
            padding: 0;

            &.twitter-follow {
                float: right;
            }

            height: 28px;
            line-height: 28px;
            display: block;
            float: left;

            iframe {
                height: 20px;
                margin-top: 6px;
                width: 80px;
            }
        }
    }
}
