@import "bootstrap.less";
@import "bootswatch.less";

@headingsColor: #333;

pre {
    box-shadow: inset 0 0 2px 2px #e6e6e6;
}

.container-narrow {
    margin: 0 auto;
    max-width: 914px;
}

#markdown {
    img {
        .img-polaroid;
    }
}

.footer {
    margin-bottom: 20px;

    .buttons {
        overflow: hidden;

        li {
            margin: 0;
            padding: 0;

            &.twitter-follow {
                float: right;
            }

            height: 28px;
            line-height: 28px;
            display: block;
            float: left;

            iframe {
                height: 20px;
                margin-top: 6px;
                width: 80px;
            }
        }
    }
}
